* {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue';
    box-sizing: border-box;
    
}

main {
    color: #f2f2f3;
}

:root {
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #f2f2f3;
}

.flex-row {
    flex-direction: row;
}

.p1 {
    padding: calc(1rem * 0.5);
}
